/.idea/
/__pycache__/
ATTRIBUTE_DB - Backup.CSV
**/__pycache__
**/DB
/DB/**
**/__pycache__/
/DB/
/DB/ATTRIBUTE_DB.CSV
/DBUpdates/INTEGRATA.xlsx
/DBUpdates/NEW_ATTRIBUTES.xlsx
/**/old/
/tools/misc/auxfiles/
/**/side-tools/
/**/ReportFiles/
/**/Reports/**.xlsx
*~
*.swp
*.swo
*.log
lanxadconfig.conf
*.egg-info
*.egg
/doc/build/
*.ipynb_checkpoints/
